<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New Fruit Page</h1>

    <form action="/fruits" method="POST">
        User Id: <input type="text" name="userId" />
        Name: <input type="text" name="name" />
        Color: <input type="text" name="color" />
        Is ready to Eat: <input type="checkbox" name="readyToEat" />
        <input type="submit" value="Create Fruit" />
    </form>
    
</body>

</html>